header {
	background: #270014;
	padding: 20px 0;
}


.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
	filter: drop-shadow(1px -1px 1px #000000); 
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color:#C78C19;
	text-decoration: underline;
}

form{
    font-size: 30px;
    max-width: 500px;
    margin: 50px auto;
    padding: 50px 50px 50px 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    }
    
    h1{
    color: #333
    }
    
    input, textarea{
    width: 474px;
    padding: 10px;
    }
    
    p {
        padding: 5px;
    }
    .enviar input {
    background-color: #270014;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: #FFF;
    cursor: pointer;
    }
    
    .enviar input:hover{
    background: #fc2fda;
    }
    
    textarea {
    width: 474px;
    height: 120px;
    line-height: 20px;
    }

footer {
    text-align: center;
	padding: 40px 0;
	background: url(file:///C:/Users/mande/OneDrive/%C3%81rea%20de%20Trabalho/Logica/Barbearia%20Alura/img/bg.jpg);
	filter: saturate(32%) invert(87%) drop-shadow(2px -2px 2px#270014); 
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}