header {
	background: #270014;
	padding: 20px 0;
}


.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
	filter: drop-shadow(1px -1px 1px #000000); 
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color:#C78C19;
	text-decoration: underline;
}

main {
    width: 940px;
    margin: 0 auto;
}

h1 {
    color: #333333;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 50px auto;
}

.pergunta {
margin: 50px 0;
}

form {
    margin: 40px 0;
    font-family: 'Courier New', Courier, monospace;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}


form textarea {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
	margin: 20px 0;
	display: inline;
}

.enviar input {
	margin-top: 30px;
    background-color: #270014;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: #FFF;
    cursor: pointer;
    }
    
    .enviar input:hover{
	background: #fc2fda;
	transform: scale(1.2);
	}

	table {
		margin: 20px 0 40px;
		width: 20%;
		text-align: center;
		margin-left: 25%;
	}
	
	thead {
		background: #555555;
		color: white;
		font-weight: bold;
		align-content: center;
	}
	
	td, th {
		border: 1px solid #000000;
		padding: 8px 15px;
	}
	
footer {
    text-align: center;
	padding: 40px 0;
	background: url(file:///C:/Users/mande/OneDrive/%C3%81rea%20de%20Trabalho/Logica/Barbearia%20Alura/img/bg.jpg);
	filter: drop-shadow(2px -2px 2px #270014); 
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}