header {
	background: #270014;
	padding: 20px 0;
}

body {
	background-color: #270014;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
	filter: drop-shadow(1px -1px 1px #000000); 
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color:#C78C19;
	text-decoration: underline;
}

#banner {
	width:100%;
}

.principal{
	background: #270014;
	padding: 100px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
	font-family: 'Courier New', Courier, monospace;
	color: #ffffff;
}

.titulo-beneficios {
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
	font-family: 'Courier New', Courier, monospace;
}

p {
	text-align: center;
	padding: 10px;
	color: #ffffff;
}

#missao {
	font-size: 20px
}

em strong {
	color: #fc2fda;
}

.itens {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	padding: 5px;
}

.beneficios {
	background: #270014;
	margin-bottom: 50px;
}


.imagembeneficios {
	width: 100%;
}

footer {
    text-align: center;
	padding: 40px 0;
	background: url(file:///C:/Users/mande/OneDrive/%C3%81rea%20de%20Trabalho/Logica/Barbearia%20Alura/img/bg.jpg);
	filter: saturate(32%) invert(87%) drop-shadow(2px -2px 2px#270014); 
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}